<div class="container">
  <div>
    <p-calendar
      class="max-w-full"
      [inline]="true"
      [showWeek]="true"
      (onSelect)="onSelectDate()"
      [(ngModel)]="selectedDate"
    >
      <ng-template pTemplate="date" let-date>
        <span [ngClass]="{ highlight: isHighlightDate(date) }">{{
          date.day
        }}</span>
      </ng-template>
    </p-calendar>
  </div>

  <div class="right">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, qui
      ad? Cumque, officia id odit accusantium quos adipisci magni voluptate sunt
      eos veniam est accusamus saepe nisi sequi asperiores totam in quod, vel
      officiis ea, iste ab ad rerum corporis!
    </p>
    @for (time of times; track $index) {
    <p-button [label]="time"></p-button>
    }
    <br />
    <hr />

    @for(tarif of tarifs; track $index) {
    <div class="tarifs">
      <h5>
        {{ tarif.intitule }} -
        <span style="font-weight: 400">( {{ tarif.prix_ttc }} €) * </span>
      </h5>
      <input type="text" pInputText style="width: 7%" />
    </div>
    }
    <p-button *ngIf="times.length>0" label="save"></p-button>
  </div>

</div>
